.group
  .group__name
    グループ1
  .group__latest-info
    最新のメッセージ表示
.group
  .group__name
    グループ2
  .group__latest-info
    画像を送信しました

.group
  .group__name
    グループ3
  .group__latest-info
    まだメッセージはありません。
