.message
  .message__upper
    .message__upper_user-name
      ユーザー1
    .message__upper_time-at
      0000/00/00 00:00:00
  .message__lower
    .message__lower_text
      メッセージ1

.message
  .message__upper
    .message__upper_user-name
      ユーザー2
    .message__upper_time-at
      0000/00/00 00:00:00
  .message__lower
    .message__lower_text
      メッセージ2

.message
  .message__upper
    .message__upper_user-name
      ユーザー3
    .message__upper_time-at
      0000/00/00 00:00:00
  .message__lower
    .message__lower_text
      メッセージ3
